# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: The Alfaro Lab
email: michaelalfaro@ucla.edu
description: > # this means to ignore newlines until "baseurl:"
  phylogeny, macroevolution, diversification, phylogenomics, phenoscaping, fishes
baseurl: "/alfaro-lab"
url: "https://michaelalfaro.github.io/"


# Load plugins
plugins: ['jekyll_scholar']

# Google analytics
google_analytics:

include:
  - .htaccess
  - _pages

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false



# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

# jekyll scholar
scholar:
  style: elsevier-with-titles-alphabetical
  locale: en

  sort_by: year
  order: descending

  source: ./_bibliography
  bibliography: references.bib
  bibliography_template: "{{reference}}"

  replace_strings: true
  join_strings:    true

  details_dir:    bibliography
  details_layout: bibtex.html
  details_link:   Details

  query: "@*"

# plugins
plugins_dir: [jekyll-scholar]

#jekyll-orcid https://github.com/mfenner/jekyll-orcid
author:
  orcid: 0000-0002-8898-8230






